body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1e1e2f;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#statusText{
    height: 40px;
    width: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 18px;
}
#divDices{
    margin: 30px;
    display: flex;
    flex-direction: row;
}
.imgDice{
    width: 50px;
    height: 50px;
}

.dicePlayer{
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
        margin-right: 40px;

}
header {
  font-size: 2rem;
  margin: 20px 0;
  color: #d7bfff;
  text-shadow: 1px 1px 4px #7c5fc3;
}

#resultLastGames {
  margin: 10px 0;
  background-color: #2a2a3c;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1rem;
  color: #b8ffb8;
}

.WelcomeText_1,
.WelcomeText_2,
.WelcomeText_3 {
  text-align: center;
  margin: 5px 0;
}

.WelcomeText_1 {
  font-size: 1.8rem;
  color: #d7bfff;
  text-shadow: 1px 1px 4px #7c5fc3;
}

.WelcomeText_2,
.WelcomeText_3 {
  font-size: 1rem;
  color: #b8a5ff;
}

#dados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  background-color: #5f4b8b;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 1rem;
  margin-bottom: 20px;
}
.btn:hover {
  background-color: #7a62a7;
}

.LotteryFooter {
  margin-top: auto;
  padding: 20px;
  font-size: 0.9rem;
  background-color: #161620;
  width: 100%;
  text-align: center;
  color: #aaa;
}

.LotteryFooter a {
  color: #c4b2ff;
  text-decoration: none;
}

.LotteryFooter a:hover {
  text-decoration: underline;
}
.logout-form {
    position: absolute;
    top: 18px;
    right: 24px;
    margin: 0;
    z-index: 10;
}
.btn-logout {
    background: #2a2a3c;
    color: #fff;
    border: 1px solid #5f4b8b;
    border-radius: 8px;
    padding: 8px 18px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s, border 0.2s, color 0.2s;
    box-shadow: 0 2px 8px rgba(123, 74, 226, 0.10);
    outline: none;
}
.btn-logout:hover {
    background: #5f4b8b;
    color: #fff;
    border: 1px solid #7a62a7;
}
.logout-container{
    position: absolute;
    top:20px;
    right: 20px;
}